version: '3.4'
services:
  myapp:
    #build: .
    image: $IMAGE_NAME
    container_name: myapp
    environment:
      - SERVER_PORT=8081
    ports:
      - "8082:8081"
    networks:
      - net
            
networks:
  net:
